body {
  position: relative;
  background-color: rgb(62, 163, 201);
  color: white !important;
}
.container {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.head.top {
  text-align: center;
  margin-bottom: 10px;
}
.head.shipped {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
.item {
  text-align: center;
}
a {
  text-decoration: underline;
  color: white !important;
}
